{% extends 'master.html' %}
{% load static %}
{% block content %}


<br><br><br>

<section id="contact" class="contact mb-5">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h1 class="page-title">Support us</h1>
            </div>
            <div style="margin-left: 40px;">

            </div>
            <div style="text-align: center;">
                <h3>We need your help to turn hope into action—to inspire, empower, and connect people to change their
                    world.Let's Make A Change.Here are some of the ways you can donate:</h3>
            </div>
            <!-- <div style="text-align: center;">
                <p>Here are some ways you can donate:</p>
            </div> -->
        </div>

        <div class="row gy-4">

            <div class="col-md-4">
                <div class="info-item">
                    <i class="bi bi-geo-alt"></i>
                    <h3>In Person</h3>

                    <!-- <address>A108 Adam Street, NY 535022, USA</address> -->
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-4">
                <div class="info-item info-item-borders">
                    <i class="bi bi-paypal"></i>
                    <br><br>
                    <button>Donate Now</button>
                </div>
            </div><!-- End Info Item -->

            <div class="col-md-4">
                <div class="info-item">
                    <i class="bi bi-telephone-fill"></i>
                    <h3>Over the Phone</h3>
                    <p><a href="mailto:info@example.com">It's easy to donate offline too.</a></p>
                </div>
            </div><!-- End Info Item -->

        </div>
    </div>
</section>

</main><!-- End #main -->

{% endblock %}

